exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")
S3method('[', gds.class)
S3method('[', gdsn.class)
exportMethods(rownames, colnames, naten, betaqn, nanet, nanes, danes, danet, daten1, daten2,
nasen, dasen, danen, tost, fuks, swan, dmrse, dmrse_row, dmrse_col, genki,
seabi, pfilter, betas, methylated, unmethylated, pvals, fData, 
pData, getHistory, QCmethylated, QCunmethylated, QCrownames, subSet, fot, qual)
importFrom('stats', 'approx', 'coef', 'density', 'fivenum', 'lm',
    'median', 'na.omit', 'sd', 'quantile')
importFrom('utils', 'data', 'file_test', 'packageVersion','untar', 'download.file', 'write.csv')
importFrom('GEOquery', 'getGEO', 'gunzip')
importFrom('graphics', 'legend', 'plot')
importFrom('BiocGenerics', 'rownames')
import(wateRmelon, gdsfmt, methods, minfi, methylumi, Biobase)
